html{background-color: rgb(255, 187, 0); height: 100vh;}
body{min-height: 100vh; margin: 0}
#grocery{background-color: rgb(255, 247, 0);}
#supplies{background-color: rgb(255, 149, 0);}
h1{color:rgba(38, 0, 254, 0.71)}
h2{background-color: rgb(255, 111, 0);}
h3{background-color: rgb(255, 111, 0);}
h4{background-color: rgb(255, 111, 0);}
h5{background-color: rgb(255, 111, 0);}
#grocery{list-style-type: circle;}
#supplies{list-style-type:square;}
html{margin: 10px;}
html{font-family: Verdana, Geneva, Tahoma, sans-serif;}
#grocery{margin: 10px}
#supplies{margin: 10px;}
h1{text-align: center;}
div > div {
    box-sizing: border-box;
    border: 4px rgba(38, 0, 254, 0.71) solid;
    width: 600px;}
#image1{padding-left: 250px;
    padding-bottom: 10px;
    height: 250px;
    width:275px}
#image2{padding-left: 250px;
    padding-bottom: 10px;
    height: 250px;
    width: 275px;}
#image3{padding-left: 250px;
        padding-bottom: 10px;
        height: 250px;
    width: 275px;}
#image4{padding-left: 250px;
            padding-bottom: 10px;
            height: 250px;
        width: 275px;}

footer{
    font-weight: 600;
    text-align: center;
    color: rgba(38, 0, 254, 0.71);}


